.grid-container {
  display: grid;

  grid-template-columns: 1fr 1fr;

  grid-template-areas:
    
    "header header "
    "nav nav"
    "main main"
    "footer footer ";

  gap: 10px;
  text-align:center;
}


header {
  grid-area: header;
  border: 2px solid black; 
  background-color: rgba(94, 150, 159, 0.669)

}

nav {
  grid-area: nav;
  border: 2px solid black; 
  

}

main {
  grid-area: main;
  border: 2px solid black; 
  display: grid;
  height: 77vh;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "Izquierda Derecha";
  
}

.aside1 .aside2 {
  
  grid-area: aside1, aside2;
  border: 1px solid rgb(21, 251, 0);
  

}


footer {
  grid-area: footer;
  border: 2px solid black; 

}
